@charset "utf-8";

/* CSS Document */

p.bu{color: red;
		text-align: center;
			
}
main {
	text-align: center;
}
h1{
	
	text-align: center;
	font-family: "alfa-slab-one , bold";
	color: #F72585;
	margin-top: 40px;
	
}
body {
	background-color:#4361EE;
	clear: both;
	
	align-self: center;
	margin: auto;
	border: 10px;
}
input{
	text-decoration-color: aqua;
}

/* Add this as a property for a selector to which the effect has to be applied*/
